html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}


/*Everytime we have a ul put this style*/
ul {
    padding: 0;
}

/*Everytime we have a listItem put this style to rid of the bullets points*/

li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 50px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-clear {
    border: none;
    background: transparent;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit

}